{% extends 'customer/base.html' %}

{% block content %}
<section id="home" class="about">
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>Book-A-Meal allows customers to make food orders and helps the food vendor know what the customers want to eat.
                <br><br>
               We are a fast food restaurant located in Nairobi, along Likoni-Road.Our speciality is in all category of food, we offer refreshing flavours that suite our customers' taste and preferences.
                <br><br>
               Check out our menu and choose your fovourite flavours you would like.
                <br><br>
               More so,we have giveaways on selected days,don't miss out!
                <br>
               Get a glimpse of endless bliss.
            </p>
        </div>
    </div>
</div>
</section>
{% endblock %}