{% extends 'customer/base.html' %}

{% block content %}
<section id="home" class="hero">
<div class="container mb-5">
    <div class="row justify-content-center mt-8">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <br><br><br><br><br><br>
            <h1><strong>Book A Meal</strong></h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <br>
            <h2><strong>Place an order!</strong></h2>
            <a  href="{% url 'order'%}"class="btn btn-outline-success"> Order Now!</a>   
       </div>
</div>
</section>
{% endblock %}