<nav class="navbar navbar-expand-lg navbar-light green">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'index' %}">Meal</a>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-family:'Times New Roman', Times, serif;">
             <ol class="nav-item active">
                <a class="nav-link" href="{%url 'about' %}">About Us</a>
             </ol> 
             
             <ol class="nav">
                <a class="nav-link" href="{%url 'menu' %}">Menu</a>
           </ol> 

            <ol class="nav-item active">
              <a class="nav-link"href="{%url 'logout'%}">Logout</a>
            
            </ol>

            <ol class="nav-item active">
                <a class="nav-link" href="{%url 'order'%}">Place an Order!</a>
            
            </ol>
            {% else %}
          </ul>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-family:'Times New Roman', Times, serif;">
            <ol class="nav-item active">
              <a class='nav-link' href="{%url 'login'%}">Login</a>
            </ol>
      
            <ol class="nav-item active">
              <a class='nav-link' href="{%url 'register'%}">Register</a>
            </ol>
        </ul>      
     {% endif %}
    </div>
  </nav>