.hero {
    height: 90vh;
    width: 100%;
    background-image: url("/static/photos/sa.jpg");
    background-size: cover;
    background-position: center;
    
}
.hero {
    color:aliceblue
}
.hei {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.foo {
    height: 120vh;
    width: 100%;
<<<<<<< HEAD
    background-image: url("/static/photos/sanka.jpg");
=======
    background-image: url("/static/photos/sa.jpg");
>>>>>>> development
    background-size: cover;
    background-position: center;
    
}
<<<<<<< HEAD
 .lo {
     height: 80vh;
 }
.se{
    
    padding: 30px;
    width: 85%;
}

.saka{
    background-color: white;
    padding: 2rem;
    width: 10%;
}
=======
.lo {
     height: 80vh;
 }
.se{
    padding: 30px;
    width: 85%;
}

.saka{
    background-color: white;
    padding: 2rem;
    width: 10%;
}
.about {
    height: 80vh;
    width: 100%;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;

}
>>>>>>> development
